<%= form_with(model: @film, url: films_path, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= form.label :year, class: "form-label" %>
      <%= form.number_field :year, class: "form-control" %>
    </div>
  
    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
  